<mat-sidenav-container fullscreen>
	<mat-sidenav
		#sidenav
		mode="side"
		class="example-sidenav"
		[ngStyle]="{ 'width.em': sidenavWidth }"
		opened="true"
		(mouseenter)="increase()"
		(mouseleave)="decrease()"
	>
		<mat-nav-list>
			<mat-list-item routerLink="1" routerLinkActive="active">
				<mat-icon mat-list-icon>link</mat-icon>
				<div fxFlex="10"></div>
				<div *ngIf="sidenavWidth > 6" class="sidenav-item">
					<h5>Component 1</h5>
				</div>
			</mat-list-item>

			<mat-list-item routerLink="2" routerLinkActive="active">
				<mat-icon mat-list-icon>face</mat-icon>
				<div fxFlex="10"></div>
				<div *ngIf="sidenavWidth > 6" class="sidenav-item">
					<h5>Component 2</h5>
				</div>
			</mat-list-item>

			<mat-list-item routerLink="3" routerLinkActive="active">
				<mat-icon mat-list-icon>home</mat-icon>
				<div fxFlex="10"></div>
				<div *ngIf="sidenavWidth > 6" class="sidenav-item">
					<h5>Component 3</h5>
				</div>
			</mat-list-item>
		</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">
		<router-outlet></router-outlet>
	</div>
</mat-sidenav-container>
